# Security
SECRET_KEY=2b55886afc889358509ae2a6fe93ac8b881d7985b1984bf71b9d41e5a0c1a281

# PostgreSQL (Kubernetes)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=extremely_strong_password
POSTGRES_DB=ticketcore