# Security
SECRET_KEY=your_secret_key

# PostgreSQL (Kubernetes)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=extremely_strong_password
POSTGRES_DB=ticketcore

# Telegram
TELEGRAM_BOT_TOKEN=your_telegram_token