# App
PROJECT_NAME=TicketCore
VERSION=

API_V1_STR=/api/v1
ENVIRONMENT=dev
LOG_LEVEL=INFO

SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Default Limits
DEFAULT_PAGE_LIMIT=100

TICKET_RESERVATION_TIME_SECONDS=900

# Databases
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=db
POSTGRES_PORT=5432

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_TTL_SECONDS=10